[submodule "Minecraft-Transit-Railway"]
	path = Minecraft-Transit-Railway
	url = https://github.com/minefed/Minecraft-Transit-Railway
	branch = codex/minefed-1.20.4
[submodule "fabric-webstreamer"]
	path = fabric-webstreamer
	url = https://github.com/minefed/fabric-webstreamer
	branch = codex/minefed-1.20.4
[submodule "Automobility"]
	path = Automobility
	url = https://github.com/minefed/Automobility
	branch = codex/minefed-1.20.4
[submodule "minefed-display"]
	path = minefed-display
	url = https://github.com/minefed/minefed-display
	branch = codex/minefed-1.20.4
[submodule "alloy-forgery"]
	path = alloy-forgery
	url = https://github.com/minefed/alloy-forgery
	branch = codex/minefed-1.20.4
[submodule "architectury-api"]
	path = architectury-api
	url = https://github.com/minefed/architectury-api
	branch = codex/minefed-1.20.4
[submodule "Automobility-Refueled"]
	path = Automobility-Refueled
	url = https://github.com/minefed/Automobility-Refueled
	branch = codex/minefed-1.20.4
[submodule "Chisels-and-Bits"]
	path = Chisels-and-Bits
	url = https://github.com/minefed/Chisels-and-Bits
	branch = codex/minefed-1.20.4
[submodule "Common-Storage-Lib"]
	path = Common-Storage-Lib
	url = https://github.com/minefed/Common-Storage-Lib
	branch = codex/minefed-1.20.4
[submodule "BlueMap"]
	path = BlueMap
	url = https://github.com/minefed/BlueMap
	branch = codex/minefed-1.20.4
[submodule "CrossStitch"]
	path = CrossStitch
	url = https://github.com/minefed/CrossStitch
	branch = codex/minefed-1.20.4
[submodule "Chunky"]
	path = Chunky
	url = https://github.com/minefed/Chunky
	branch = codex/minefed-1.20.4
